* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #F9F9F9;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title-top-header {
  width: 100%;
  height: 40px;
  color: #EEE5E9;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 18px;
}

.header-infos {
  position: absolute;
  z-index: 100;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  text-align: center;
}
.header-infos h1 {
  font-weight: 350;
  letter-spacing: 20px;
  margin-bottom: 30px;
  color: #7DDE92;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
}
.header-infos h4 {
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 18px;
  color: #6699CC;
}
.header-infos p {
  margin-bottom: 30px;
  max-width: 900px;
  text-align: center;
  font-weight: 200;
  line-height: 25px;
}
.header-infos a {
  color: #E8E1EF;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 8px;
  color: #F2C14E;
  padding: 5px 10px;
  border: 1px solid #F2C14E;
  border-radius: 5px;
}

.container {
  width: 100%;
}
.container header {
  background-image: url("../../public/assets/image_header.jpg");
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 80px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 801px) {
  .header-infos h1 {
    font-size: 18px;
    font-weight: 400;
    background-color: black;
    padding: 10px 15px;
  }
  .header-infos p {
    font-size: 14px;
  }
  .header-infos a {
    font-size: 20px;
  }
}
@media screen and (max-width: 560px) {
  .header-infos p {
    display: none;
  }
  .header-infos h4 {
    margin-bottom: 40px;
  }
}
.hide {
  display: flex;
}

main {
  width: 100%;
  margin-top: 100px;
}
main section.cards {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 25px;
}
main section.cards .row2 {
  display: none;
}
main section.cards h2 {
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
main section.cards .cards-d {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
main section.cards .cards-d .row {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  max-width: 300px;
  margin-bottom: 50px;
}
main section.cards .cards-d .row h3 {
  font-weight: 300;
  font-size: 21px;
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main section.cards .cards-d .row .image {
  height: 150px;
  background-size: cover;
}
main section.cards .cards-d .row .body {
  font-size: 14px;
  font-weight: 200;
  padding: 20px 10px;
  text-align: justify;
  line-height: 25px;
  height: 300px;
}
main section.cards .cards-d .row .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: 1px solid #cccccc;
  background-color: rgba(18, 122, 95, 0.1);
}
main section.cards .cards-d .row .footer a {
  color: #4CAF50;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s;
}
main section.cards .cards-d .row .footer a img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
main section.cards .cards-d .row .footer a:hover {
  color: #357a38;
}

.image1 {
  background: url("../../public/assets/flagrante.jpg") no-repeat center;
}

.image2 {
  background: url("../../public/assets/fraude_empresarial.jpg") no-repeat center;
}

.image3 {
  background: url("../../public/assets/problemas_familiares.jpg") no-repeat center;
}

.image4 {
  background: url("../../public/assets/desaparecido.jpg") no-repeat center;
}

@media screen and (max-width: 1514px) and (min-width: 1140px) {
  .row2 {
    display: flex !important;
    flex: 1;
    border: 1px solid #ccc;
    margin-left: 10px;
    height: 592px;
  }

  .hide {
    display: none !important;
  }
}
@media screen and (max-width: 1282px) {
  .row2 .section-quem-sou p {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 813px) {
  section.quem-sou-m {
    max-width: 400px !important;
  }

  section.cards h2 {
    text-align: justify !important;
    font-size: 20px !important;
    max-width: 400px !important;
  }
  section.cards .cards-d {
    justify-content: center !important;
  }
  section.cards .cards-d .row {
    max-width: 400px !important;
  }
  section.cards .cards-d .row .image {
    height: 200px !important;
  }
  section.cards .cards-d .row .body {
    height: auto !important;
  }
}
section.section-quem-sou {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}
section.section-quem-sou h2 {
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
section.section-quem-sou h2::after {
  content: "";
  background-color: #F2C14E;
  display: block;
  width: 150px;
  height: 2px;
  margin-top: 4px;
}
section.section-quem-sou .body {
  display: flex;
}
section.section-quem-sou .body p {
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: justify;
  font-weight: 100;
  font-size: 18px;
  width: 100%;
  padding-right: 20px;
}

section.quem-sou-m {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
section.quem-sou-m h2 {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 20px;
}
section.quem-sou-m h2::after {
  content: "";
  background-color: #F2C14E;
  display: block;
  width: 150px;
  height: 2px;
  margin-top: 4px;
}
section.quem-sou-m .body {
  display: flex;
}
section.quem-sou-m .body p {
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: justify;
  font-weight: 100;
  font-size: 18px;
  padding-right: 20px;
  width: 50%;
}
section.quem-sou-m .image {
  background: url("../../public/assets/detetive.svg") no-repeat center;
  background-size: cover;
  width: 50%;
  height: 400px;
  border-radius: 5px;
}

@media screen and (max-width: 1140px) {
  section.quem-sou-m .body {
    flex-direction: column !important;
  }
  section.quem-sou-m .body p {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 0 !important;
  }
  section.quem-sou-m .body .image {
    width: 100%;
  }
}
section.contato {
  margin-top: 40px;
  background-color: #073B4C;
  width: 80%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
}
section.contato h2 {
  background-color: #F9F9F9;
  font-size: 35px;
  font-weight: 300;
  padding-bottom: 20px;
}
section.contato h2::after {
  content: "";
  background-color: #F2C14E;
  display: block;
  width: 150px;
  height: 2px;
  margin-top: 4px;
}
section.contato > div {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
section.contato > div div {
  display: flex;
  align-items: center;
}
section.contato > div div + div {
  margin-top: 20px;
}
section.contato > div div svg {
  width: 28px;
  height: 28px;
  fill: #f9f9f9;
  margin-right: 10px;
}
section.contato > div div span {
  color: #F9F9F9;
  letter-spacing: 1px;
  font-weight: 300;
}

footer {
  width: 80%;
  margin: 0 auto;
  background-color: #000;
  position: relative;
  padding: 50px;
}
footer .image {
  width: 250px;
  height: 300px;
  background: url("../../public/assets/image-footer.png") no-repeat center;
  background-size: cover;
  position: absolute;
  right: 70px;
  top: -120px;
}
footer h2, footer p {
  color: #f9f9f9;
}
footer h2 {
  font-weight: 300;
  margin-bottom: 15px;
}
footer p {
  max-width: 600px;
  font-weight: 200;
  text-align: justify;
}

@media screen and (max-width: 1357px) {
  footer .image {
    display: none;
  }
}
@media screen and (max-width: 813px) {
  footer {
    max-width: 400px;
  }

  section.contato {
    max-width: 400px;
  }
}

/*# sourceMappingURL=all.css.map */
